img {
    height: auto;
    max-width: 100%;
}
#gdgt{
	float: right;
    margin-top:10%;
    margin-right: 5%;
}
#info{
    text-align: left;
    height: 400px;
    width: 800px;
    margin-left: 10%;    
    margin-top: 0px;
}
h1{
	font-size: 6em;	
}
h2{
    font-size: 3em;
    margin-top:10px;
}
p{
	font-size: 1.5em;
}
#preprice{
    font-size: 20px;
    text-align: center;     
}
#price{
    font-size: 125px;
    text-align: right;     
}
.intro {
    margin-left:auto;
    margin-right:auto;
    width:80%;
}


/*Rollovers*/
#home{
    margin-left: 10%;
    margin-top: -200px;
    position: absolute;
    z-index: 1;
}
a.rollover1 {
	display: block;
	width: 400px;
	height: 400px;
	text-decoration: none;
    float:left;
	background: url("../img/rlvrs/homeLaptop1.jpg") no-repeat 0 0;
	}
a.rollover1:hover {
    background: url("../img/rlvrs/homeLaptop2.jpg") no-repeat 0 0;
	}
.displace1 {
	position: absolute;
	left: -5000px;
	}

a.rollover2 {
	display: block;
	width: 400px;
	height: 400px;
	text-decoration: none;
    float:left;
	background: url("../img/rlvrs/homeTablet1.jpg") no-repeat 0 0;
	}
a.rollover2:hover {
    background: url("../img/rlvrs/homeTablet2.jpg") no-repeat 0 0;
	}
.displace2 {
	position: absolute;
	left: -5000px;
	}

a.rollover3 {
	display: block;
	width: 400px;
	height: 400px;
	text-decoration: none;
    float:left;
	background: url("../img/rlvrs/homeAllinone1.jpg") no-repeat 0 0;
	}
a.rollover3:hover {
    background: url("../img/rlvrs/homeAllinone2.jpg") no-repeat 0 0;
	}
.displace3 {
	position: absolute;
	left: -5000px;
	}

a.rollover4 {
	display: block;
	width: 400px;
	height: 400px;
	text-decoration: none;
    float:left;
	background: url("../img/rlvrs/homePC1.jpg") no-repeat 0 0;
	}
a.rollover4:hover {
    background: url("../img/rlvrs/homePC2.jpg") no-repeat 0 0;
	}
.displace4 {
	position: absolute;
	left: -5000px;
	}
