/* SETTING ALL TO ZERO*/
*{
	margin: 0;
	padding: 0;
}


body {
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	height:100%;
	width:100%;
	}
A { 
    text-decoration: none;
	color:black;
  } 

A:link {TEXT-DECORATION:none;font-weight:normal;}
A:visited {TEXT-DECORATION:none;font-weight:normal;}
A:active {TEXT-DECORATION:none;font-weight:normal;}
A:hover {TEXT-DECORATION:none;} 

a img {
     border: none; 
   }
/* SETTING ALL TO ZERO*/


/* HEADER MENU*/
#upper_menu {
	width:100%;
	background:#ccc;
} 

#upper_menu ul {
	text-align:center;
	margin:0 auto;
	padding-top: 15px;
	height:40px;
}

#upper_menu ul li{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style:bold;
	font-size:18px;
	list-style-type:none;
	float:center;
	display: inline;
	margin:0 10px 0 10px;
}

#upper_menu ul li:hover{
	color:#0088ff;
}

#upper_menu ul li.selected{
	color:#0088ff;
}
/* HEADER MENU*/























/* ALERT BOX*/
#alert_box {
	position:fixed;
	bottom:0px;
	left:0px;
	padding:10px 10px 0px 10px;
	background:#ccc;
}
/* ALERT BOX*/